
.play_at_browser {
    display: flex;
    text-align: left;
    height: 800px;

    margin-bottom: 90px;

    position: relative;
}

.play_at_browser__about {
    width: 480px;

    margin: 0 22px 0 75px;
}

.play_at_browser__text {
    margin: 90px 0 60px;
}

.play_at_browser__img {
    width: 1000px;
    height: 900px;

    position: absolute;
}
